.jdi {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 50px auto 80px;
  grid-row-gap: 20px;
  box-sizing: border-box;
  &_main-wrapper {
    display: grid;
    padding: 10px;
    grid-column-gap: 20px;
    grid-template-columns: 220px auto 220px;
  }
  &_header {
    display: flex;
    align-items: center;
    justify-content: flex-end;

  }
  &_main {
    padding: 10px;
    //background-color: red;
  }
  &_left-sidebar {
    //background-color: #222222;
    padding: 10px;

  }
  &_right-sidebar {
    //background-color: #222222;
    padding: 10px;

  }
  &_footer {
    //background-color: #222222;
    padding: 10px;

  }
}
